/*GENERAL STYLING */

body {
	background-color: black;
}

.flex-nowrap {
	overflow: hidden;
}

a{
	margin: 0 !important;
	padding: 0 !important;
	text-decoration: none;
}

.navbar-toggler {
	border: none;
}

nav.navbar {
	max-height: 100px;
	background-color: rgb(52, 58, 64, 0.6);
}

svg.navLogo {
	max-width: 100px;
	max-height: 25px;
	fill: white !important;
}

 svg {
	max-width: 35px;
	fill: #fa2d48 !important;
}
 
 .fas {
 	color: #fa2d48;
 }

h1 {
	color: white;
	font-size: 2.25em;
	font-weight: bold;
	border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}

h2 {
	font-size: 1.25em;
	font-weight: bold;
	color: white;
}

h3 {
	color: rgba(235, 235, 245, 0.6);
	width: 200px;
	font-size: 1em;
	 margin-bottom: 15px;
}

.col {
	margin-right: 15px;
}

.flex-nowrap {
	overflow-x: scroll;
}

#topPicksCarousel div {
	width: 200px !important;
	height: 268px;
}

#recentlyPlayedDivs div {
	width: 144px;
	height: 195px;
}



/* SCROLLBAR STYLING */

/* width */
::-webkit-scrollbar {
	display: none;
  width: 10px;
  height: 4px;
}


/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	max-width: 5px !important;
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/*TOP PICKS CAROUSEL STYLING */

.carouselImgContainer {
	position: relative;
	height: 268px;
}

.carouselText {
	width: 100% !important;
	margin: 0;
	padding: 5px !important;
	color: white;
	text-align: center;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	font-size: 0.9em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.carouselText span {
	font-weight: normal;
}

.bgContainerImg {
	height: 180px;
	background-repeat: no-repeat;
	background-size: contain;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/*CUSTOM STYLING FOR INDIVIDUAL COLUMNS IN TOP PICKS CAROUSEL */

.bgContainerImg1 {
	background-image: url('./assets/nightcap.jpg');
}

.carouselText1 {
	background-color: darkgrey;
}

.carouselText2 {
	background-color: darkred;
}

.bgContainerImg2 {
	background-image: url('assets/summerheat.jpg');
}

.bgContainerImg3 {
	background-image: url('assets/The-Off-Season.png');
}

.carouselText3 {
	background-color: #152238;
}

.bgContainerImg4 {
	background-image: url('assets/favouritesMix4.jpg');
}

.carouselText4 {
	background-color: darkorchid;
}

.bgContainerImg5 {
	background-image: url('assets/theWave.jpg');
}

.carouselText5 {
	background-color: rgb(255,159,95);
}

.bgContainerImg6 {
	background-image: url('assets/russ.jpg');
}

.carouselText6 {
	background-color:	rgb(217, 181, 28);
}

.bgContainerImg7 {
	background-image: url('assets/childrenOfInternet.jpg');
}

.carouselText7 {
	background-color:	rgb(108, 108, 108);
}


/*START OF RECENTLY PLAYED STYLING */
/*Recently played Title div work around */

#titleDivs {
	width: 100%;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: center;
}

.seeAll {
	padding-right: 0;
	margin-right: 0;
}

.seeAll a {
	text-decoration: none;
	color: #fa2d48;
}

.bottomBorder {
	border-bottom: 2px solid rgb(255, 255, 255, 0.25);
}

.recentlyPlayed {
	padding-right: 0;
	margin-right: 0;
	display: flex;
	flex-direction: row !important;
}

.smallCarouselImgContainer {
	width: 144px;
	height: 195px;
}

.smallBgContainerImg {
	height: 144px !important	;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 10px;
}

.smallCarouselImgContainer p {
		height: 51px;
}

.smallCarouselText {
	max-height: 51px;
	line-height: 1.2;
	width: 144px !important;
	margin: 0;
	padding: 5px !important;
	color: white;
	bottom: 0;
	font-size: 0.75em;
}

.smallCarouselText span {
	color: rgba(235, 235, 245, 0.6);
}


.bgContainerImg8{
	background-image: url('assets/redJumpsuit.jpg');
}

.bgContainerImg9{
	background-image: url('assets/goodSense.jpg');
}

.bgContainerImg10{
	background-image: url('assets/kansas.jpg');
}

.bgContainerImg11{
	background-image: url('assets/kofiStone.jpg');
}

.bgContainerImg12{
	background-image: url('assets/childrenOfInternet.jpg');
}

.bgContainerImg13{
	background-image: url('assets/malibu.jpg');
}

.bgContainerImg14{
	background-image: url('assets/oxnard.jpeg');
}

.bgContainerImg15{
	background-image: url('assets/ventura.png');
}

.bgContainerImg16{
	background-image: url('assets/sidelineStory.jpeg');
}

.bgContainerImg17{
	background-image: url('assets/kod.jpg');
}

.bgContainerImg18{
	background-image: url('assets/dSmoke.jpg');
}

/*END OF RECENTLY PLAYED STYLING */



/* R&B CAROUSEL SECTION */

.bgContainerImg19{
	background-image: url('assets/tory.jpg');
}

.bgContainerImg20{
	background-image: url('assets/malibu.jpg');
}

.bgContainerImg21{
	background-image: url('assets/trapsoul.jpeg');
}

.bgContainerImg22{
	background-image: url('assets/party-min.jpg');
	background-size: cover;
}

.bgContainerImg23{
	background-image: url('assets/eastAtlanta.jpg');
}

.bgContainerImg24{
	background-image: url('assets/futureFunk.jpg');
}

.bgContainerImg25{
	background-image: url('assets/forTheNight-min.jpg');
}

.bgContainerImg26{
	background-image: url('assets/origin.jpg');
}

.bgContainerImg27{
	background-image: url('assets/influences3.jpg');
}

.bgContainerImg28{
	background-image: url('assets/indie-min.jpg');
}

.bgContainerImg29{
	background-image: url('assets/sunShower.png');
}

.bgContainerImg30{
	background-image: url('assets/scribz.jpg');
}

/* END OF R&B STYLING */

/* START OF "MORE LIKE DONT YOU FAKE IT" CAROUSEL SECTION */

.bgContainerImg31{
	background-image: url('assets/dustbox.jpg');
}

.bgContainerImg32{
	background-image: url('assets/ninedays.jpg');
}

.bgContainerImg33{
	background-image: url('assets/matkearney.jpg');
}

.bgContainerImg34{
	background-image: url('assets/oath.jpg');
}

.bgContainerImg35{
	background-image: url('assets/oceanAve.jpg');
}

.bgContainerImg36{
	background-image: url('assets/daughtry.jpg');
}

.bgContainerImg37{
	background-image: url('assets/Augustanaband.jpg');
}

/* END OF MORE LIKE DONT YOU FAKE IT CAROUSEL SECTION */


/* START OF MADE FOR YOU BIG CAROUSEL SECTION */

.bgContainerImg38{
	background-image: url('assets/getUpMix.jpg');
}

.carouselText38 {
	 background-color: darkorange;
}

.bgContainerImg39{
	background-image: url('assets/favouritesMix4.jpg');
}

.carouselText39 {
	background-color: darkorchid;
}

.bgContainerImg40{
	background-image: url('assets/chillMix.jpg');
}

.carouselText40 {
	background-color: #20b2aa;
}

.bgContainerImg41{
	background-image: url('assets/newMusicMix.jpg');
}

.carouselText41 {
	background-color: #ed507c;
}

/* END OF MADE FOR YOU BIG CAROUSEL SECTION */

/* START OF NEW RELEASES CAROUSEL */

.bgContainerImg42{
	background-image: url('assets/akeemAli.jpeg');
}

.bgContainerImg43{
	background-image: url('assets/russ.jpg');
}

.bgContainerImg44{
	background-image: url('assets/ganggang.jpg');
}

.bgContainerImg45{
	background-image: url('assets/wholeLotta.jpg');
}

.bgContainerImg46{
	background-image: url('assets/The-Off-Season.png');
}

.bgContainerImg47{
	background-image: url('assets/sade.jpeg');
}

.bgContainerImg48{
	background-image: url('assets/bennyBanks.jpg');
}

.bgContainerImg49{
	background-image: url('assets/status.jpg');
}

.bgContainerImg50{
	background-image: url('assets/Internetmin.jpg');
}

.bgContainerImg51{
	background-image: url('assets/interlude.jpg');
}

.bgContainerImg52{
	background-image: url('assets/layWitYa-min.jpeg');
}
